<!DOCTYPE html>
<html>
  <head>
    <title>Enlighten</title>
    <script src="/javascripts/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/enlighten.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/stylesheets/enlighten.css" type="text/css" charset="utf-8" />
  </head>
  <body>
    <% if @socket %>
      <form id="console" action="/execute" method="post">
        <div id="prompt_section">
          &gt;&gt;
          <input type="text" name="prompt" value="" id="prompt" />
          <input type="submit" value="Send">
        </div>
      </form>
    <% else %>
      <p>Not yet enlightened.</p>
      <p>Unable to establish a connection to the ruby-debug server. Make sure a "debugger" statement has been triggered and try again.</p>
    <% end %>
  </body>
</html>
